.bloodtablemain{
    width: 80%;
    margin: 5vh auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.bloodtable{
    border: none;
    border-collapse: collapse;
    width: 100%;

}
@media screen and (max-width : 768px){}