


.imgback{
  background-size: 100%;
  background-position: center;
  height: 80vh;
  
  background-repeat: no-repeat;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-container {
   
    overflow: hidden; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin: 2% auto; 
    width:100%;
    height: 60%;
  }
  
  .image-slide {
    display: flex; 
    gap: 30px; 

   
  }
 
.volunter{
    text-align: center;
    margin-bottom: 40%;
}

  .image-slide img {
    width: 100%; 
    height: 210px; 
    display: flex;
    justify-items: center;
    border-radius: 8px; 
    margin-bottom: auto;
    transition: transform 0.3s ease-in-out; 
  }
  
 
  .image-slide img:hover {
    transform: scale(1.05); 
  }
  .vasubmit {
    position: absolute; 
    bottom: 20px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
  }
  
 
  .vallalarbtn {
    background: #000000; 
    color: #ffffff;
    border: none;
    width: 15%;
    font-style: initial;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .vallalarbtn:hover {
    background-color: #003366; 
  }
  

  @media (max-width: 768px){
    
.imgback{
  background-size: 100%;
  background-position: center;
  height: unset;
  
  background-repeat: repeat;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
    .image-slide{
      flex-direction: column;
      align-items: center;
    }
    .image-slide img {
      width: 80%; 
      height: 170px; 
      display: flex;
      justify-items: center;
      border-radius: 8px; 
      margin-bottom: 10px;
      transition: transform 0.3s ease-in-out; 
    }

  }