.form-container {
    width:60%;
    height: 80vh;
    margin: auto;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-title {
    width: 100%;
    color: white;
    font-size: 34px;
    margin-bottom: 20px;
}

.form-title .highlight {
    color: red;
}
.donner form{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    width: 46%;
    display: flex;
    flex-direction: column;
}

.donner label {
    text-align: start;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

 .donner input, .donner select {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ffffff;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
}

.donner select {
    padding: 10px;
    font-size: 14px;
    width: 60%;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.donner input[type="text"]::placeholder {
    color: #000000;
   
}

.donner button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.donner button:hover {
    background-color: red;
    color: white;
}

.submit-row {
    margin-top: 20px;
}

@media screen and (max-width : 768px){
    .form-container {
        width:80%;
       height: auto;
        margin: auto;
        background-color: #111;
        padding: 30px;
        border-radius: 10px;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .form-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 15px;
        gap: 10px;
    }
    .form-group {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .donner label {
        margin: 2px;
    }
     
}