.footerparent{
    
   display: flex;
   justify-content: center;
   position: relative;
    margin-top: 10vh;
    height: 454px;
   
}
.footback{
  right: 1vw;
    height: 100%;
    position: absolute;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footiconcontainer{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 90%;
}
.footsubparent{
    width: 90%;
    height:100%;
   position: absolute;
    border-top-left-radius:203px 100% ; /* Adjust to match your design */
  border-bottom-left-radius:202px 100% ;
  border-top-right-radius:202px 100% ;
  border-bottom-right-radius:202px 100% ;
  margin: 0 auto;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background-color: #0699FF;
}
.footmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    width: 100%;
    
}
.footlogo img{
    height: 100px;
    width: 100px;
}
.footmain > h1{
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;

}
.footmain > p{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: center;
    color: white;

}
.footbtn a{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
   
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    padding: 7px 40px ;
    margin: 0 auto;
    border: none;

}
.footul{
    display: flex;
    flex-direction: row;
    width: 70%;
   
    justify-content: space-evenly;
}
.footsub{
    height: 10%;
    width: 80%;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.footsub a{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 15.12px;
    

}
@media (max-width: 768px){

    .footsubparent{
        width: 80%;
        height:100%;
       position: absolute;
        border-top-left-radius:0px 0% ; /* Adjust to match your design */
      border-bottom-left-radius:0px 0% ;
      border-top-right-radius:0px 0% ;
      border-bottom-right-radius:0px 0% ;
      margin-left: -20px;
        display: flex;
        
        flex-direction: column;
        align-items: center;
        background-color: #0699FF;
    }
    .footlogo img{
        height: 60px;
        width: 60px;
    }
    .footmain > h1{
        font-size: 20px;
        font-weight: 700;
        line-height: 30.4px;
    }
    .footmain > p{
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 17.16px;
        text-align: center;
        color: white;
    
    }
    .footbtn a{
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        font-weight: 600;
       
        text-align: center;
        color: #FFFFFF;
        background-color: black;
        padding: 7px 40px ;
        margin: 0 auto;
        border: none;
    
    }
    .footul{
        display: flex;
        flex-direction: row;
        width: 100%;
       
        justify-content: space-evenly;
    }
    .footsub{
        height: 10%;
        width: 90%;
        border-top: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
    .footsub a{
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 15.12px;
        
    
    }

}
